{sub_dirs, ["rel"]}.
{erl_opts, [debug_info]}.
{deps, [
        {vutil, ".*", {git, "git://github.com/virtan/vutil.git", ""}},
	{eper, ".*", {git, "git://github.com/massemanet/eper.git", ""}},
        {exec, ".*", {git, "git://github.com/saleyn/erlexec.git", ""}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
